.formControl {
    min-width: 120px;
}

.selectEmpty {
    margin-top: 4%;
}

.loading {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 25px;
}

.marginBottom {
    margin-bottom: 30px;
}

.list {
    height: 75vh;
    overflow: auto;
}

.selectBox {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-right: .5px solid darkgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9CC0F9;
    height: 70px;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3D50B3;
}

@media screen and (max-width: 600px){
    .selectBox {
        flex-direction: column;
    }
}