.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4vh;
    background-color: #3D50B3;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer > a {
    align-self: center;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}